[Unit]
Description="{{ zinuit_name }}-metel-schedule"
PartOf={{ zinuit_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ zinuit_cmd }} schedule
StandardOutput=file:{{ zinuit_dir }}/logs/schedule.log
StandardError=file:{{ zinuit_dir }}/logs/schedule.error.log
WorkingDirectory={{ zinuit_dir }}
