[Unit]
Description="{{ zinuit_name }}-redis-cache"
PartOf={{ zinuit_name }}-redis.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ redis_server }} {{ redis_cache_config }}
StandardOutput=file:{{ zinuit_dir }}/logs/redis-cache.log
StandardError=file:{{ zinuit_dir }}/logs/redis-cache.error.log
WorkingDirectory={{ sites_dir }}
